---
import fetchApi from "../../lib/strapi";
import type Blog from "../../interfaces/blog";
import { resolveRichText } from "../../lib/richtext";

export async function getStaticPaths() {
  const blogs = await fetchApi<Blog[]>({
    endpoint: "blogs",
    wrappedByKey: "data",
  });

  return blogs.map((blog) => ({
    params: { slug: blog.Title },
    props: blog,
  }));
}
type Props = Blog;

const blog = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{blog.Title}</title>
  </head>

  <body>
    <main>
      <h1>{blog.Title}</h1>

      <Fragment set:html={resolveRichText(blog.Body)} />
    </main>
  </body>
</html>
