---
import fetchApi from '../../lib/strapi';
import type Blog from '../../interfaces/blog';

const blogs = await fetchApi<Blog[]>({
  endpoint: 'blogs', // the content type to fetch
  wrappedByKey: 'data', // the key to unwrap the response
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blogs</title>
  </head>

  <body>
    <main>
      <ul>
        {
          blogs.map((blog) => (
            <li>
                <h1>{blog.Title}</h1>
                <p>{blog.Body}</p>
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		text-align: left;
		margin-bottom: 0.5em;
	}
    p {
        margin-bottom: 1rem;
    }
</style>